/* 给对话块（头像和对话框的父元素）
添加此标签，使头像和对话框上端对齐 */
.msgBlock{
  display: flex;
  align-items: flex-start;
}

/* nana头像相关css */
.chat-img {
  border-radius: 50%;
  width: 100rpx;
  height: 100rpx;
  /* margin-top: 10rpx; */
  /* background-color: #f7f7f7; */
  background-image: url(./static/nana.jpg);
  background-repeat: no-repeat;
  background-size: 100rpx 100rpx;
}

.bottom-dh-char {
  background-color: #f9f9f9;
  width: 750rpx;
  height: 110rpx;
}

.center-box {
  width: 720rpx;
  padding-left: 25rpx;
}

.hui-box {
  width: 750rpx;
  height: 100%;

}

.dh-input {
  width: 500rpx;
  height: 65rpx;
  border-radius: 30rpx;
  padding-left: 15rpx;
  background-color: #FFFFFF;
}

.box-normal {
  width: 750rpx;
  height: 180px;
  background-color: #FFFFFF;
}

.tb-text view {
  font-size: 65rpx;
}

.tb-text text {
  font-size: 25rpx;
  color: #737373;
}

.padding-chat {
  padding: 17rpx 20rpx;
}

.tb-nv {
  width: 50rpx;
  height: 50rpx;
}