.searchView{
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchView>.searchBox{
  width: 90%;
  display: flex;
  align-items: center;
}
.searchView>.searchBox>input{
  height: 3em;
  width: 70%;
  border: 2px solid #c4c7ce;
  border-radius: 10rpx 0 0 10rpx;
  background-color: #f1f1f1;
  padding-left: 1em;
}
.searchView>.searchBox>button{
  height: 100%;
  width: 30%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 0 10rpx 10rpx 0;
}
main{
  padding: 0 5%;
  font-size: 14px;
}